version: "3.8"
volumes:
  php-fpm-socket:
  db-store:

services:
  app:
    build: ./infra/php
    volumes:
      - php-fpm-socket:/var/run/php-fpm
      - ./backend:/work/backend
    environment:
      DB_CONNECTION: mysql
      DB_HOST: db 
      DB_DATABASE: ${DB_DATABASE}
      DB_USERNAME: ${DB_USERNAME}
      DB_PASSWORD: ${DB_PASSWORD}
      TZ: ${TZ}      
    depends_on:
      - db
    links:
      - db

  web:
    build: ./infra/nginx
    ports:
      - 80:80
    volumes:
      - php-fpm-socket:/var/run/php-fpm
      - ./backend:/work/backend
    depends_on:
      - app

  db:
    build: ./infra/mysql
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD_ROOT}
      TZ: ${TZ}
    volumes:
      - db-store:/var/lib/mysql