/node_modules
/node_modules_old
/node_modules_old2
/public/css
/public/hot
/public/js
/public/mix-manifest.json
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
